* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    background-color: #800020;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* START SCREEN */

#starting-screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(45, 10, 10, 0.5);
    color: white;
}

#starting-menu {
    width: 40%;
    height: 50%;
    padding: 30px;
    background-color: rgb(87, 20, 20);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

hr {
    width: 60%;
    margin: 7px;
}

#start-btn {
    width: 40%;
    height: 12%;
    margin: 20px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#start-btn p {
    width: 100%;
    color: white;
    font-weight: bold;
}


/* GAME END SCREENS*/

#game-over-screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

#game-over-menu {
    width: 60%;
    height: 50%;
    padding: 30px;
    background-color: rgb(87, 20, 20);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

#win-screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 10, 10);
    color: white;
}

#win-menu {
    width: 40%;
    height: 50%;
    padding: 30px;
    background-color: rgb(87, 20, 20);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

#win-reset-page-btn, #lose-reset-page-btn {
    width: 40%;
    height: 12%;
    margin: 10px;
    background-color: rgb(112, 89, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#win-reset-page-btn p, #lose-reset-page-btn p {
    width: 100%;
    color: white;
    font-weight: bold;
}


/* MAIN GAME AREA */

#main-screen {
    width: 60vw;
    height: 100vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}


/* BOSS INFO AND BOSS SPRITE AREA*/

#boss-area {
    width: 100%;
    height: 50%;
    z-index: 1;
    background-color: #8000206f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

#boss-name {
    color: rgb(183, 169, 169);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#boss-life {
    width: 70%;
    height: 5%;
    background-color: rgba(255, 255, 255, 0.762);
    border: 1px solid white;
    display: flex;
}

#boss-life-segment {
    width: 4%;
    height: 100%;
    background-color: rgb(187, 100, 76);
}

#boss {
    width: 50%;
    height: 95%;
    background-color: #801e00ac;
}



/* GAMEPLAY AREA */

#game-area {
    width: 40%;
    height: 30%;
    border: solid 3px white;
    position: relative;
    overflow: hidden;
}

#player {
    width: 1.3em;
    height: 1.3em;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
}

.rain-attack {
    width: 1.3em;
    height: 1.3em;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
}

.counter-token {
    width: 1.3em;
    height: 1.3em;
    background-color: rgb(26, 246, 26);
    position: absolute;
    top: 0;
    left: 0;
}


/* PLAYER STATS AREA */

#player-stats {
    width: 80%;
    height: 5%;
    background-color: rgba(255, 166, 0, 0.644);
    display: flex;
    justify-content: center;
    align-items: center;
}

#player-name {
    width: 20%;
    height: 100%;
}

#player-life {
    width: 30%;
    height: 40%;
    background-color: rgba(255, 255, 255, 0.762);
    border: 1px solid white;
    display: flex;
}

#life-segment {
    width: 10%;
    height: 100%;
    background-color: rgb(62, 104, 146);
}

@keyframes shake {
    0% {
    transform: translateX(0px);
    }
    25% {
    transform: translateX(-5px);
    }
    50% {
    transform: translateX(5px);
    }
    75% {
    transform: translateX(-5px);
    }
    100% {
    transform: translateX(0px);
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}